@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  background-color: #302E2B;
}

@theme {
  --font-instrument: "Instrument Serif", serif;
} 

@theme{
  --color-primary: #009E84;
  --color-background: #302E2B;
  --color-bg-dark: #252525;
  --color-soft-white: #D9D9D9;
}
 
.boxBody{
  @apply bg-[#252525] p-2 text-white
}

